<h1>Upload Nmap File</h1>
<%= form_tag engagement_nmap_index_path(@engagement), multipart: true do %>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<%= label_tag "Upload nmap file (should be in xml format)" %>
			<%= file_field_tag 'file' %>
			<%= submit_tag %>
		</div>
	</div>
	
<% end %>