<h3>CVE Databases</h3>
<table class="table table-striped table-bordered" id="cve_db">
	<thead>
		<th>Database ID</th>
		<th>Description</th>
	</thead>
	<tbody>
		<% @cves.each do |cve| %>
			<tr>
				<td><%= link_to cve.cve_database_id, cfe_path(cve.cve_database_id) %></td>
				<td><%= cve.desc %></td>
			</tr>
		<% end %>
	</tbody>
</table>