<div class="pTop5 pBot5">
	<%= link_to "Add new", "#", id: "new-main-link", class: "pull-right btn btn-primary btn-xs" %>
	<span class="clearfix"></span>
</div>
<table class="main_datatable table table-striped" id="mainTabViewEngagement" data-eng-id="<%= @engagement.id %>" data-usr-id="<%= current_user.username %>" data-source="<%= engagement_engagement_mains_url(engagement_id: @engagement.id, format: "json") %>" >
	<thead> 
		<tr>
			<th>Host/IP</th>
			<th>Ports</th>
			<th>Services</th>
			<th>Vulns</th>
			<th>Host Name</th>
			<th>OS</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead> 
	<tbody>
	</tbody>
</table>

<% content_for :head_javascript do %>
	<script type="text/javascript">
    $(document).ready(function(){
      $("#assignUsersModal").on("show.bs.modal", function(e) {
        var link = $(e.relatedTarget);
        $(this).find(".modal-content").load(link.attr("href"));
      });

      $("a.editInline").css("display","none");

      $('td').on('mouseover mouseout',function(){
        $(this).find('.editInline').toggle();
      });

			$('#mainTabViewEngagement').dataTable({
				sPaginationType: "full_numbers",
				bJQueryUI: true,
				bProcessing: true,
				bServerSide: true,
				sAjaxSource: $('#mainTabViewEngagement').data('source'),
				responsive: true
			});
    });
	</script>
<% end %>
