<table class="table table-striped" id="nessusComplianceDataTable">
  <thead>
    <th>Status</th>
    <th>Plugin Name</th>
    <th>Plugin Family</th>
    <th>Count</th>
  </thead>
  <tbody>
  <% unless nessus_host_items.blank? %>
      <% nessus_host_items.each do |item| %>
      <tr>
        <td><%= item.cm_compliance_result  %></span></td>
        <td><%= item.plugin_name   %></td>
    	  <td><%= Plugin.find(item.plugin_id).family_name  %></td>
        <td><%= item.total %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
