<table class="table table-striped" id="nessusVulnDataTable">
  <thead>
    <th>Severity</th>
    <th>Plugin name</th>
    <th>Count</th>
  </thead>
  <tbody>
  <% unless nessus_host_items.blank? %>
      <% nessus_host_items.each do |item| %>
      <tr>
        <td><%= vuln_label(item.severity) %></span></td>
        <td><%= link_to item.plugin_name, vuln_details_engagement_path(engagement.id, item_id: item.id) %></td>
        <td><%= item.total %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
