<% unless nessus_policy.blank? %>
<% nessus_report = Risu::Models::NessusReport.find_by(policy_id: nessus_policy.id, user_id: current_user.id, engagement_id: engagement.id) %>
<% end %>
<% unless nessus_report.blank? %>
<% nessus_hosts = Risu::Models::Host.where(nessus_report_id: nessus_report.id, user_id: current_user.id, engagement_id: engagement.id ) %>
<% nessus_host_items = nessus_hosts.joins('LEFT JOIN nessus_items ON nessus_hosts.id = nessus_items.host_id').select('nessus_hosts.*, nessus_items.*').group('nessus_items.plugin_name').order('nessus_items.severity desc') %>
<% end %>
<%# unless nessus_hosts.blank? %>
<%# nessus_host_properties = Risu::Models::HostProperty.where(host_id: nessus_hosts.map{|h| h.id}, user_id: current_user.id, engagement_id: engagement.id) %>
<%# end %>

<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#nessus_host_tabview" aria-controls="nessus_host_tabview" role="tab" data-toggle="tab">Hosts</a></li>
    <li role="presentation"><a href="#nessus_vulns_tabview" aria-controls="nessus_vulns_tabview" role="tab" data-toggle="tab">Vulnerabilities</a></li>
    <li role="presentation"><a href="#nessus_compliance_tabview" aria-controls="nessus_compliance_tabview" role="tab" data-toggle="tab">Compliance</a></li>
    <li role="presentation"><a href="#nessus_remediations_tabview" aria-controls="nessus_remediations_tabview" role="tab" data-toggle="tab">Remediations</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="nessus_host_tabview">
      <div class="mTop10">
        <div id="nessus_host">
          <%= render partial: 'nessus_host_pane', locals: { nessus_hosts: nessus_hosts, engagement: engagement } %>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane active" id="nessus_vulns_tabview">
      <div class="mTop10">
        <div id="nessus_vulns">
          <%= render partial: 'nessus_vuln_pane', locals: { nessus_host_items: nessus_host_items } %>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="nessus_compliance_tabview">
      <div class="mTop10">
        <div id="nessus_compliance">
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="nessus_remediations_tabview">
      <div class="mTop10">
        <div id="nessus_remediations">
        </div>
      </div>
    </div>
  </div>
</div>

