<h3>CWE Databases</h3>
<table class="table table-striped table-bordered" id="cwe_db">
	<thead>
		<th>Database ID</th>
		<th>Description</th>
	</thead>
	<tbody>
		<% @cwes.each do |cwe| %>
			<tr>
				<td><%= link_to cwe.weakness_id, cwe_path(cwe.weakness_id) %></td>
				<td><%= cwe.desc_summary %></td>
			</tr>
		<% end %>
	</tbody>
</table>