<div class="row">
	<div class="col-md-6">
		<div class="profileUiList" ng-app="vaptListSearch">
			<h4>Engagements</h4>
			<form class="form-search">
				<%= text_field_tag :search_user, nil, placeholder: 'Search', "ng-model" => "searchList" %>
			</form>
			<ul ng-init="engagements = <%= @engagements.to_json %>">
				<li ng-repeat="engagement in filteredEngagements = (engagements | filter:searchList)">
					<a href="/engagements/{{engagement.id}}">{{engagement.engagement_name}}</a>
					<a href="javascript:void(0)" class="remove_engagement", eng-id="{{engagement.id}}">Unjoin</a>
				</li>
			</ul>
			<p ng-hide="filteredEngagements.length">Nothing here!</p>
			
		</div>
	</div>
	<div class="col-md-6">
		<div>
			<%= link_to "Create New Engagement", new_engagement_path, class: "btn btn-primary" %>
		</div>
		<div>
			<%= link_to "Create New Site Wide Engagement", new_site_wide_engagement_path, class: "btn btn-primary mTop9" %>
		</div>
	</div>
</div>