<p id="notice"><%= notice %></p>

<h1>Listing Reports</h1>

<% @reports.each do |report| %>
    <%= render 'reports/report', report:report %>
<% end %>

<br>
<br>

<%= link_to 'New Report', new_report_path, class: "btn btn-primary" %>